<div class="container m-l">
  <!-------------------------- Dynamic Data  ------------------------------------->
  <h3>Dynamic Data</h3>

  <ul>
    <li (click)='taskClicked("inputTest")'>
NgModel
    </li>
    <li (click)='taskClicked("dynamicNames")'>
        Dynamic Listing
      </li>
      <li (click)='taskClicked("dynamicSelect")'>
      Dynamic Select Option
        </li>
        <li (click)='taskClicked("onColorChange")'>
      On click change
          </li>
        <li (click) = 'taskClicked("tableData")'>
          Table Data
        </li>
        <li (click) = 'taskClicked("loginForm")'>
          Login Form
        </li>
  </ul>
  <!-- <h5 >NgModel</h5> -->
  <div *ngIf="taskList ==='inputTest'">
    <label>Name :</label> <input type="text" (change)='checkNameAndAge()' [(ngModel)]="name">
    <label>Age :</label><input type="number" (change)='checkNameAndAge()' [(ngModel)]="age">
  </div>
  <!-- <h3>Dynamic Listing</h3> -->
  <div *ngIf="taskList === 'dynamicNames'" class="d-flex justify-content-around">
    <ul class="list-unstyled">
      <li *ngFor="let designer of Sol, let i = index">
        <p [ngClass]="{blue: ((i%2) == 0) , green : ((i%2)!=0)}">
          {{i+1}} : {{designer.name}}
        </p>
      </li>
    </ul>

    <ul class="list-unstyled">
      <li *ngFor="let designer of Sol; let i = index ">
        <p [ngClass]="{blue : (i+1) <= 3 , green : (i+1) > 3}">
          {{i+1}} : {{designer.name}}
        </p>
      </li>
    </ul>
    <ul class="list-unstyled">
      <li *ngFor="let designer of Sol; let i = index">
        <p [ngClass]="{blue : ((i%2)==0) , green: ((i%2)!=0)} ">
          {{i+1}} : {{designer.name}}
        </p>
      </li>
    </ul>
  </div>
  <!-- <button (click)='activefunc()'>Toggle</button>

<div>
  <h1 [ngClass]="{class1:activeCondition,class2:!activeCondition}" >Hi I am active</h1>
 
</div> -->

  <!-------------------------- Dynamic Select Options  ------------------------------------->
  <div class="form-group" *ngIf="taskList === 'dynamicSelect'">
    <select class="form-control" id="sel1">
      <option *ngFor="let job of prof.jobs">{{job}}</option>

    </select>
  </div>

  <div class="footer">
    <!-- <ul class="nav bottom-nav">
        <li class="nav-item" (click) = 'navActive("loyalty")'>
          <div [ngClass]="{'navactiveclass': (selectedType === 'loyalty')}" >
          <div class="loyalty-tab"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
          <a class="nav-link">Loyalty</a>
        </div>
        </li>
        <li class="nav-item" (click) = 'navActive("loans")'>
            <div [ngClass]="{'navactiveclass': (selectedType === 'loans' )}">
            <div class="loans-tab"><i class="fa fa-university" aria-hidden="true"></i></div>
          <a class="nav-link">Loans</a>
          </div>
        </li>
        <li class="nav-item" (click) = 'navActive("marketing")'>
            <div [ngClass]="{'navactiveclass': selectedType === 'marketing'}">
            <div class="marketing-tab"><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
          <a class="nav-link" >Marketing</a>
          </div>
        </li>
        <li class="nav-item" (click) = 'navActive("payments")'>
          <div [ngClass]="{'navactiveclass': selectedType === 'payments'}">
            <div class="payments-tab"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
          <a class="nav-link">Payments</a>
        </div>
        </li>
        </ul> -->

    <div *ngIf="taskList === 'onColorChange'">
      <ul class="list-unstyled">
        <li *ngFor="let designer of Sol, let i = index" (click)="onClickChangeColor(i)">
          <p [ngClass]="{'green' : colorChangeCondition === i }">
            {{i+1}} : {{designer.name}}
          </p>
        </li>
      </ul>
    </div>
    <!-- -------------------------------- Table  -------------------------->
    <div class="dTable" *ngIf="taskList === 'tableData'">

   
    <h3>Table Data Given by Somu 22-03-2019</h3>
    <table class="table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Age</th>
          <th>Locations</th>
          <th>Qualification</th>
          <th>Courses</th>
          <th>Marks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>{{personDetails.Name}}</td>
          <td>{{personDetails.Age}}</td>
          <td>
            <ol>
              <li *ngFor="let location of personDetails.Locations">
                {{location}}
              </li>
            </ol>
          </td>
          <td>{{personDetails.Qualification}}</td>
          <td>
            <ol>
              <li *ngFor="let courses of personDetails.Courses">
                {{courses}}
              </li>
            </ol>
          </td>

          <td>
            Tenth: {{personDetails.Marks.Tenth}}
            Inter :
            <li *ngFor="let marks of personDetails.persons.Intermediate">
              {{marks}}
            </li>
            Btech : {{personDetails.Marks.Btech}}
          </td>
        </tr>

      </tbody>
    </table>

    <h3>Complex jason data</h3>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>S.No</th>
          <th>ID</th>
          <th>Name</th>
          <th>PPU</th>
          <th>Batters</th>
          <th>Topping</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let details of complexData; let i = index">
          <td>
            {{i+1}}
          </td>
          <td>{{details.id}} </td>
          <td>{{details.name}}</td>
          <td>
            {{details.ppu}}
          </td>
          <td>
            <ul class="list-unstyled">
              <li *ngFor="let batterDetails of details.batters.batter">
                ID:{{batterDetails.id}}

                {{batterDetails.type}}
              </li>
            </ul>
            {{details.batters.batter.id}}
            {{details.batters.batter.type}}
          </td>
          <td>
            <ul class="list-unstyled">
              <li *ngFor="let top of details.topping">
                ID:{{top.id}}
                TYPE:{{top.type}}
              </li>
            </ul>

          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="lForm" *ngIf="taskList === 'loginForm'">
    <h3>Login Form</h3>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" >
      <div class="form-group">

        <!-- Username -->
        <label for="firstName">Username</label>
        <input type="text" name="firstName" class="form-control" minlength="4" [(ngModel)]="data.name" #Name="ngModel"
          required placeholder="Enter your name">
        <div class="form-group mt-2">
          <div *ngIf="Name.invalid && (Name.dirty || Name.touched)" class="alert alert-danger">
            <div *ngIf="Name.errors.required">
              Name is required.
            </div>
            <div *ngIf="Name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
          </div>
        </div>
        <!-- password -->
        <label for="password">Password</label>
        <input name="password" class="form-control" type="password" minlength="8" [(ngModel)]="data.password"
          #passWord="ngModel" required placeholder="Password">

        <div class="form-group  mt-2">
          <div *ngIf="passWord.invalid && (passWord.dirty || passWord.touched)" class="alert alert-danger">
            <div *ngIf="passWord.errors.required">
              Password is required.
            </div>
            <div *ngIf="passWord.errors.minlength">
              Password must be at least 8 characters long.
            </div>
          </div>
        </div>
        <!-- Age -->
        <label for="Age">Age</label>
        <input name="Age" class="form-control" type="number" [(ngModel)]="data.age" #mAge="ngModel" required 
          placeholder="Age">
        <div class="form-group  mt-2">
          <div *ngIf="mAge.invalid && (mAge.dirty || mAge.touched)" class="alert alert-danger">
            <!-- This is empty condition -->
            <div *ngIf="mAge.errors.required">
              age is required.
            </div>
          </div>
          <div *ngIf="data.age < 18 && mAge.valid" class="alert alert-danger">
            Age must be greater than 18
          </div>
        </div>
        <!-- Cities -->
        <label for="selCity">Select City</label>
        <select  class="form-control"  name="city" [(ngModel)]="data.city" #mCity="ngModel">
          <option value="loop"  *ngFor="let mcity of myCities.city">{{mcity}}</option>
        </select>
       

        <!-- Courses -->
        <label for="selCity">Select Courses</label>
        <select  class="form-control" [(ngModel)]="selectTag" name="course" #Course="ngModel">
          <option value="selectCourse">Select Course</option>
          <option *ngFor="let mCourse of myCourses.courses">{{mCourse}}</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="f.form.pristine || f.form.invalid">Submit</button>
      </div>
    </form>
    <div>
      <label for="male">
      <input type="radio" id="male" name="gender" (click)="openDiv('male')">male</label>
      <label for="Female">
      <input type="radio" id="Female" name="gender" (click)="openDiv('female')">Female</label>
      <label for="trans">
      <input type="radio" id="trans" name="gender" (click)="openDiv('trans')">trans</label>
    </div>
    <div>
      <h1 *ngIf="genderType === 'male'" >male txt</h1>
      <h1 *ngIf="genderType === 'female'">Female txt</h1>
      <h1 *ngIf="genderType === 'trans'">transc txt</h1>

    </div>

    <!-- <form #f="ngForm" name="form" (ngSubmit)= "f.form.valid && onSubmit()">

    </form> -->
  </div>

</div>
