<div class="container m-l">
  <!-------------------------- Dynamic Data  ------------------------------------->
  <h3>Dynamic Data--</h3>
  <!-- <p>Name : {{dNames}} </p>
  <p>Number : {{dNumbers}}</p> -->
  <h5>NgModel</h5>
  <div>
    <label>Name :</label> <input type="text" (change)='checkNameAndAge()' [(ngModel)]="name">
    <label>Age :</label><input type="number" (change)='checkNameAndAge()' [(ngModel)]="age">

  </div>
  <h3>Dynamic Listing</h3>
  <div class="d-flex justify-content-around">
    <ul class="list-unstyled">
      <li *ngFor="let designer of Sol, let i = index">
        <p [ngClass]="{blue: ((i%2) == 0) , green : ((i%2)!=0)}">
          {{i+1}} : {{designer.name}}
        </p>
      </li>
    </ul>

    <ul class="list-unstyled">
      <li *ngFor="let designer of Sol; let i = index ">
        <p [ngClass]="{blue : (i+1) <= 3 , green : (i+1) > 3}">
          {{i+1}} : {{designer.name}}
        </p>
      </li>
    </ul>
    <ul class="list-unstyled">
      <li *ngFor="let designer of Sol; let i = index">
        <p [ngClass]="{blue : ((i%2)==0) , green: ((i%2)!=0)} ">
          {{i+1}} : {{designer.name}}
        </p>
      </li>
    </ul>
  </div>
  <!-- <button (click)='activefunc()'>Toggle</button>

<div>
  <h1 [ngClass]="{class1:activeCondition,class2:!activeCondition}" >Hi I am active</h1>
 
</div> -->

  <!-------------------------- Dynamic Select Options  ------------------------------------->
  <div class="form-group">
    <label for="sel1">Dynamic Select Options</label>
    <select class="form-control" id="sel1">
      <option *ngFor="let job of prof.jobs">{{job}}</option>

    </select>
  </div>

  <div class="footer">
    <!-- <ul class="nav bottom-nav">
        <li class="nav-item" (click) = 'navActive("loyalty")'>
          <div [ngClass]="{'navactiveclass': (selectedType === 'loyalty')}" >
          <div class="loyalty-tab"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
          <a class="nav-link">Loyalty</a>
        </div>
        </li>
        <li class="nav-item" (click) = 'navActive("loans")'>
            <div [ngClass]="{'navactiveclass': (selectedType === 'loans' )}">
            <div class="loans-tab"><i class="fa fa-university" aria-hidden="true"></i></div>
          <a class="nav-link">Loans</a>
          </div>
        </li>
        <li class="nav-item" (click) = 'navActive("marketing")'>
            <div [ngClass]="{'navactiveclass': selectedType === 'marketing'}">
            <div class="marketing-tab"><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
          <a class="nav-link" >Marketing</a>
          </div>
        </li>
        <li class="nav-item" (click) = 'navActive("payments")'>
          <div [ngClass]="{'navactiveclass': selectedType === 'payments'}">
            <div class="payments-tab"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
          <a class="nav-link">Payments</a>
        </div>
        </li>
        </ul> -->

    <div>
      <h4>Click Condition in look 21-03-2019</h4>
      <ul class="list-unstyled">
        <li *ngFor="let designer of Sol, let i = index" (click)="onClickChangeColor(i)">
          <p [ngClass]="{'green' : colorChangeCondition === i }">
            {{i+1}} : {{designer.name}}
          </p>
        </li>
      </ul>
    </div>
    <!-- -------------------------------- Table  -------------------------->
    <h3>Table Data Given by Somu 22-03-2019</h3>
    <table class="table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Age</th>
          <th>Locations</th>
          <th>Qualification</th>
          <th>Courses</th>
          <th>Marks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>{{personDetails.Name}}</td>
          <td>{{personDetails.Age}}</td>
          <td>
            <ol>
              <li *ngFor="let location of personDetails.Locations">
                {{location}}
              </li>
            </ol>
          </td>
          <td>{{personDetails.Qualification}}</td>
          <td>
            <ol>
              <li *ngFor="let courses of personDetails.Courses">
                {{courses}}
              </li>
            </ol>
          </td>

          <td>
            Tenth: {{personDetails.Marks.Tenth}}
            Inter :
            <li *ngFor="let marks of personDetails.persons.Intermediate">
              {{marks}}
            </li>
            Btech : {{personDetails.Marks.Btech}}
          </td>
        </tr>

      </tbody>
    </table>

    <h3>Complex jason data</h3>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>S.No</th>
          <th>ID</th>
          <th>Name</th>
          <th>PPU</th>
          <th>Batters</th>
          <th>Topping</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let details of complexData; let i = index">
          <td>
            {{i+1}}
          </td>
          <td>{{details.id}} </td>
          <td>{{details.name}}</td>
          <td>
            {{details.ppu}}
          </td>
          <td>
            <ul class="list-unstyled">
              <li *ngFor="let batterDetails of details.batters.batter">
                ID:{{batterDetails.id}}

                {{batterDetails.type}}
              </li>
            </ul>
            {{details.batters.batter.id}}
            {{details.batters.batter.type}}
          </td>
          <td>
            <ul class="list-unstyled">
              <li *ngFor="let top of details.topping">
                ID:{{top.id}}
                TYPE:{{top.type}}
              </li>
            </ul>

          </td>
        </tr>

      </tbody>
    </table>
    <h3>Login Form</h3>
    <!-- #myForm="ngForm" (ngSubmit)='onSubmit(myForm)' -->
    <form class="mb-5 form-group" #myForm="ngForm">
      <label for="firstName">Name</label>
      <input type="text" class="form-control" minlength="4" required ngModel name="firstName" #firstName="ngModel"
        (change)='nameFunc(firstName)'>
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
        <div *ngIf="firstName.errors.required">Name is required</div>
        <div *ngIf="firstName.errors.minlength">Enter minimum 4 Characters</div>
      </div>
      <!-- Password -->
      <label for="password">Password</label>
      <input type="password" ngModel name="password" #password="ngModel" required minlength="8" class="form-control"
        (change)='passFunc(password)' >
      <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Minimum length should be 8 Characters</div>
      </div>

      <!-- Age -->
       <label for="ages">Age</label>
      <input type="number" ngModel name="age" #ages="ngModel"  class="form-control" placeholder="Enter your age"
        (change)='ageFunc(ages)' required>
         <!-- <div class="alert alert-danger" *ngIf="age.valid">
        <div>Too young to Login</div></div> -->

      <label for="selectCity">Select city</label>
      <select class="form-control" id="selectCity">
        <option *ngFor="let list of myCities.city">{{list}}</option>
      </select>
      <label for="courses">Select Courses</label>
      <select class="form-control" id="courses">
        <option *ngFor="let course of myCourses.courses">{{course}}</option>
      </select>
      <div class="text-center">
        <button class="btn btn-primary mt-3 ">Submit</button>
      </div>

    </form>
  </div>


</div>
