<div class="my-sidebar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a [routerLink]="['/component1']" class="nav-link" routerLinkActive="active">
        ngClass
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/dynamic-listing']" class="nav-link" routerLinkActive="active">
        Dynamic Listing
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/to-do']" class="nav-link" routerLinkActive="active">
        To-Do List
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/api']" class="nav-link" routerLinkActive="active">
       API Calls
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/api-gp']" class="nav-link" routerLinkActive="active">
       API Get Param
      </a>
    </li>

  </ul>
</div>