html, body { height: 100%; }
/*------------ Media Queries --------------*/
@media (min-width: 576px) {
	.container {
		max-width: 540px
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px
	}
}

@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 1200px) {
	.container {
		max-width: 800px
	}
}

/*-------------- MOBILE VIEW -----------------*/
@media (min-width: 320px) and (max-width: 425px) {
}

.container-fluid{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
// .footer {
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     background-color: rgb(248, 252, 255);
//     text-align: center;
//  }
 
.blue{
color: #243ABC;
}
.green {
color: #3bb54c;
}
.li-color {
    li:nth-child(odd){
        color: #243ABC;
        
    }
    li:nth-child(even){
        color: #3bb54c;
        
    }
}
// Sidebar
.my-sidebar{
    background: #673ab7;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
     overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    a{
        color: #ffffff;
        padding: 10px !important;
    }
}
//navbar
.navbar-dark{
    background: #673ab7 !important;
    z-index: 2;
    position: fixed !important;
    top: 0;
   width: 100%;
}
.m-l{
    margin-left: 197px;
    margin-top: 76px;
}

