html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-fluid{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
// .footer {
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     background-color: rgb(248, 252, 255);
//     text-align: center;
//  }
 
.blue{
color: #243ABC;
}
.green {
color: #3bb54c;
}
.li-color {
    li:nth-child(odd){
        color: #243ABC;
        
    }
    li:nth-child(even){
        color: #3bb54c;
        
    }
}
// Sidebar
.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    background: #673ab7;
    a{
        color: #ffffff !important;
    }
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

